# Day 12 - Pandas

In [2]:
import pandas as pd
import numpy as np

### 1. The following df DataFrame is given. Note that the index after removing two rows in the df1 is not correct. Reset this index and print df DataFrame to the console.

In [6]:
np.random.seed(42)
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df.iloc[3, 1] = np.nan
df.loc[8, 'D'] = np.nan
df1 = df.dropna()

# Start your code here
print(df1.reset_index(drop=True))

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.304242  0.524756  0.431945  0.291229
4  0.611853  0.139494  0.292145  0.366362
5  0.456070  0.785176  0.199674  0.514234
6  0.592415  0.046450  0.607545  0.170524
7  0.304614  0.097672  0.684233  0.440152

---

### 2. The following df DataFrame is given. Calculate the number of missing values in this object for each column. In response, print result to the console.

In [9]:
print(df.isnull().sum())

A    0
B    1
C    0
D    1
dtype: int64

---

### 3. The following df DataFrame is given. Fill in the missing values with 0 and assign to the variable df. In response, print df to the console.

In [10]:
df = df.fillna(0)
df

          A         B         C         D
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.000000  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229
5  0.611853  0.139494  0.292145  0.366362
6  0.456070  0.785176  0.199674  0.514234
7  0.592415  0.046450  0.607545  0.170524
8  0.065052  0.948886  0.965632  0.000000
9  0.304614  0.097672  0.684233  0.440152

---

### 4. The following df DataFrame is given. Replace the order of the columns in the df object as following:
```
D, A, B, C
```
and assign to df variable. In respone, print this variable to the console.

In [12]:
df = df[['D', 'A', 'B', 'C']]
df

          D         A         B         C
0  0.598658  0.374540  0.950714  0.731994
1  0.866176  0.156019  0.155995  0.058084
2  0.969910  0.601115  0.708073  0.020584
3  0.183405  0.832443  0.000000  0.181825
4  0.291229  0.304242  0.524756  0.431945
5  0.366362  0.611853  0.139494  0.292145
6  0.514234  0.456070  0.785176  0.199674
7  0.170524  0.592415  0.046450  0.607545
8  0.000000  0.065052  0.948886  0.965632
9  0.440152  0.304614  0.097672  0.684233

---

### 5. The following df DataFrame is given. Remove the D column from this object and print DataFrame to the console.

In [13]:
# Method 1
df = df[['A', 'B', 'C']]

# Method 2
df = df.drop('D', axis=1)

df

          A         B         C
0  0.374540  0.950714  0.731994
1  0.156019  0.155995  0.058084
2  0.601115  0.708073  0.020584
3  0.832443  0.000000  0.181825
4  0.304242  0.524756  0.431945
5  0.611853  0.139494  0.292145
6  0.456070  0.785176  0.199674
7  0.592415  0.046450  0.607545
8  0.065052  0.948886  0.965632
9  0.304614  0.097672  0.684233

## Congratulate, Day 12 Finished!