# Day 1 - Pandas

In [1]:
# Importing Pandas library as named pd
import pandas as pd

### 1. Create a Series object and print it to the console

In [2]:
stocks = ['PLW', 'CDR', '11B', 'TEN']

# <---- Write your code here ---->

print(pd.Series(data=stocks))

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

---

### 2. Create a Series object and assign it to the quotations variable. In response, print quotations variable to the console

In [3]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

# <---- Write your code here ---->

quotations = pd.Series(data=stocks)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

---

### 3. Convert quotations to the list and print it to the console.

In [4]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

# <---- Write your code here ---->

quotations = quotations.tolist()

print(quotations)

[387.0, 339.5, 349.5, 391.0]

---

### 4. Convert the quotations to the DataFrame and set the column name to 'price'. In response, print this DataFrame to the console.

In [5]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

# <---- Write your code here ---->

quotations = pd.DataFrame(quotations, columns=['price'])
print(quotations)

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

---

### 5. Using the numpy and pandas create the following Series:

```
101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64
```

In response, print this Series to the console.

In [6]:
import numpy as np

# <---- Write your code here ---->

# Method 1
x = np.arange(101, 110, 1)
y = np.arange(10.0, 100.0, 10.0)

s = pd.Series(y, x, float)

print(s)

print('\n')

# Method 2
s = pd.Series(
    data=np.arange(10, 100, 10), 
    index=np.arange(101, 110), 
    dtype='float'
)

print(s)

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64


101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

## Congratulate, Day 1 Finished!