# Day 14 - Pandas

In [1]:
import pandas as pd
import numpy as np

### 1. The df DataFrame is given below. Replace all letters in column names with lowercase, e.g.
```
Name -> name

Fuel_Type -> fuel_type
```
Print the first five rows using the pd.DataFrame.head() and print() function.

In [2]:
url = 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv'
df = pd.read_csv(url, index_col=0)

# Start your code here
df.columns = [col.lower() for col in df.columns]
df.head()

,name,location,year,kilometers_driven,fuel_type,transmission,owner_type,mileage,engine,power,seats,new_price,price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

---

### 2. The df DataFrame is given below. Find the distribution of the owner_type column and print to the console.

In [3]:
print(df.owner_type.value_counts())

First             4929
Second             968
Third              113
Fourth & Above       9
Name: owner_type, dtype: int64

---

### 3. The df DataFrame is given below. Look at the distribution of the engine column. Note that the type of this column is set to object. Remove the last three characters from each element in this column and convert this column to int type.

In response, print the first five rows using the pd.DataFrame.head() and print() function for two columns: 

- name
- engine

In [4]:
df.dropna(inplace=True)
df.engine = df.engine.map(lambda x : int(x[:-3]))
print(df[['name', 'engine']].head())

                                 name  engine
2                        Honda Jazz V    1199
7   Toyota Innova Crysta 2.8 GX AT 8S    2755
10                   Maruti Ciaz Zeta    1462
15        Mitsubishi Pajero Sport 4X4    2477
20                  BMW 3 Series 320d    1995

---

### 4. The df DataFrame is given below. Look at the distribution of the power column. Note that this column also has missing values as a 'null bhp'. Replace these values with np.nan. Use the np.where() function for this. In response, print the distribution of the power column to the console (only the top five most common values).

In [6]:
df.power = np.where(df.power == 'null bhp', np.nan, df.power)
print(df['power'].value_counts()[:5])

190 bhp      55
81.86 bhp    41
88.5 bhp     39
67.04 bhp    38
88.7 bhp     32
Name: power, dtype: int64

---

### 5. The df DataFrame is given below. Group this DataFrame by year and count the number of rows for each year. In response, print result to the console.

In [8]:
print(df.groupby('year').size())

year
2001      1
2004      1
2005      1
2007      1
2008      4
2009      3
2010     16
2011     23
2012     34
2013     45
2014     59
2015     70
2016    155
2017    215
2018    137
2019     58
dtype: int64

## Congratulate, Day 14 Finished!