# Day 20 - Pandas

In [1]:
import pandas as pd

### 1. The df DataFrame is given below. Calculate the correlations of columns in the df_dummies and assign it to the corr variable. In response, print corr variable to the console.

In [2]:
url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
for col in list(df.select_dtypes(include=['object']).columns):
    df[col] = df[col].astype('category')
df_dummies = pd.get_dummies(df, drop_first=True)

# Start your code here
corr = df_dummies.corr()
print(corr)

                       age       bmi  children   charges  sex_male  \
age               1.000000  0.109272  0.042469  0.299008 -0.020856
bmi               0.109272  1.000000  0.012759  0.198341  0.046371
children          0.042469  0.012759  1.000000  0.067998  0.017163
charges           0.299008  0.198341  0.067998  1.000000  0.057292
sex_male         -0.020856  0.046371  0.017163  0.057292  1.000000
smoker_yes       -0.025019  0.003750  0.007673  0.787251  0.076185
region_northwest -0.000407 -0.135996  0.024806 -0.039905 -0.011156
region_southeast -0.011642  0.270025 -0.023066  0.073982  0.017117
region_southwest  0.010016 -0.006205  0.021914 -0.043210 -0.004184

                  smoker_yes  region_northwest  region_southeast  \
age                -0.025019         -0.000407         -0.011642
bmi                 0.003750         -0.135996          0.270025
children            0.007673          0.024806         -0.023066
charges             0.787251         -0.039905          0.073982
sex_male            0.076185         -0.011156          0.017117
smoker_yes          1.000000         -0.036945          0.068498
region_northwest   -0.036945          1.000000         -0.346265
region_southeast    0.068498         -0.346265          1.000000
region_southwest   -0.036945         -0.320829         -0.346265

                  region_southwest
age                       0.010016
bmi                      -0.006205
children                  0.021914
charges                  -0.043210
sex_male                 -0.004184
smoker_yes               -0.036945
region_northwest         -0.320829
region_southeast         -0.346265
region_southwest          1.000000

---

### 2. The corr DataFrame is given below. Extract charges column (as a DataFrame object), sort the values in descending order and print it to the console.

In [3]:
print(corr[['charges']].sort_values(by='charges', ascending=False))

                   charges
charges           1.000000
smoker_yes        0.787251
age               0.299008
bmi               0.198341
region_southeast  0.073982
children          0.067998
sex_male          0.057292
region_northwest -0.039905
region_southwest -0.043210

---

### 3. The df DataFrame is given below. Make a copy of the df_dummies and assign to data variable. Then pop the charges column from this object and assign it to the target variable. In response, print the first five rows of data DataFrame, print blank line and the first five rows of target DataFrame.

In [4]:
data = df_dummies.copy()
target = data.pop('charges')
print(data.head())
print()
print(target.head())

   age     bmi  children  sex_male  smoker_yes  region_northwest  \
0   19  27.900         0     False        True             False
1   18  33.770         1      True       False             False
2   28  33.000         3      True       False             False
3   33  22.705         0      True       False              True
4   32  28.880         0      True       False              True

   region_southeast  region_southwest
0             False              True
1              True             False
2              True             False
3             False             False
4             False             False

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

---

### 4. Create the DataFrame from the following dictionary and assign it to the df variable.

In [5]:
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}

# Start your code here
df = pd.DataFrame(data)
print(df)

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     380     no
4    M    red  female   79.0     410    yes

---

### 5. The df DataFrame is given below. Convert following columns:
- size -> category
- color -> category
- gender -> category
- weight -> float
- bought -> category

In response, print basic information about this DataFrame to the console.

In [6]:
for col in ['size', 'color', 'gender', 'bought']:
    df[col] = df[col].astype('category')
 
df['weight'] = df['weight'].astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      category
 1   color   5 non-null      category
 2   gender  5 non-null      category
 3   price   5 non-null      float64
 4   weight  5 non-null      float64
 5   bought  5 non-null      category
dtypes: category(4), float64(2)
memory usage: 740.0 bytes

## Congratulate, Day 20 Finished!