# Day 22 - Pandas

In [1]:
import pandas as pd

### 1. The df DataFrame is given below. The pct_change column has the object type. Convert this column to float type. In response, print this DataFrame to the console.

In [2]:
df = pd.read_json('market.json')

# Start your code here
df['pct_change'] = df['pct_change'].apply(lambda i : float(i[1:-2]))
print(df)

                       profile   time     price  change  pct_change  \
0              ^AEX (Holandia)  14:12    548.73    7.95         1.4
1               ^ATX (Austria)  14:11   2147.90   17.68         0.8
2               ^ATXC (Grecja)  14:13    621.82   -2.80         0.4
3              ^BEL20 (Belgia)  14:11   3251.39   30.51         0.9
4                 ^BUX (Węgry)  14:12  32831.01  534.27         1.6
5             ^CAC40 (Francja)  14:12   4839.46   66.62         1.4
6                ^DAX (Niemcy)  14:14  12758.52  164.13         1.3
7   ^FTSE100 (Wielka Brytania)  14:12   5945.44  115.98         1.9
8   ^FTSE250 (Wielka Brytania)  14:12  17038.88  217.22         1.2
9            ^FTSEMIB (Włochy)  14:12  19080.16  184.57         0.9
10         ^IBEX35 (Hiszpania)  14:12   6755.80  107.20         1.6
11             ^OMXC20 (Dania)  14:27   1336.57    0.58         0.0
12         ^OMXH25 (Finlandia)  14:26  10037.06   21.87         0.2
13           ^OMXS30 (Szwecja)  14:27   1802.43   20.51         1.1
14           ^OSEAX (Norwegia)  14:12    739.99    1.36         0.1
15         ^PSI20 (Portugalia)  14:13   4119.97   -1.97         0.0
16              ^PX50 (Czechy)  14:12    870.57    2.52         0.2
17             ^RDXEUR (Rosja)  14:11   1264.48    2.21         0.1
18                ^RTS (Rosja)  14:11   1524.18   -2.09         0.1
19           ^SMI (Szwajcaria)  14:11  10371.42   15.85         0.1
20             ^XU100 (Turcja)  14:12   1104.41    8.25         0.7
21              WIG20 (Polska)  14:29   1695.96    2.87         0.1

    reference_price      open       low      high
0            540.78    546.55    544.72    550.72
1           2130.22   2131.47   2118.71   2163.92
2            624.62    627.48    621.82    631.70
3           3220.88   3252.21   3228.77   3266.11
4          32296.74  32421.05  32421.05  32865.43
5           4772.84   4824.17   4803.91   4871.45
6          12594.39  12737.32  12688.33  12830.70
7           5829.46   5829.46   5829.46   5974.88
8          16821.66  16821.66  16821.66  17123.31
9          18895.59  19080.18  18944.29  19231.99
10          6648.60   6717.80   6681.60   6781.10
11          1335.99   1338.82   1322.42   1338.82
12         10015.19  10052.81  10024.27  10107.86
13          1781.92   1791.67   1789.70   1814.53
14           738.63    738.46    738.03    744.44
15          4121.94   4141.19   4119.97   4156.11
16           868.05    868.53    862.45    873.37
17          1262.27   1263.78   1259.57   1274.42
18          1526.27   1526.27   1521.70   1541.51
19         10355.57  10368.65  10334.54  10439.74
20          1096.16   1101.04   1098.82   1106.06
21          1693.09   1701.26   1695.36   1712.27

---

### 2. The df DataFrame is given below.

Perform the following steps:

- print to the console row with the highest pct_change
- print a blank line
- print to the console row with the lowest pct_change

In [3]:
print(df.iloc[df['pct_change'].argmax()])
print()
print(df.iloc[df['pct_change'].argmin()])

profile            ^FTSE100 (Wielka Brytania)
time                                    14:12
price                                 5945.44
change                                 115.98
pct_change                                1.9
reference_price                       5829.46
open                                  5829.46
low                                   5829.46
high                                  5974.88
Name: 7, dtype: object

profile            ^OMXC20 (Dania)
time                         14:27
price                      1336.57
change                        0.58
pct_change                     0.0
reference_price            1335.99
open                       1338.82
low                        1322.42
high                       1338.82
Name: 11, dtype: object

---

### 3. The df DataFrame is given below. Extract all rows of this object for which the pct_change column is greater than or equal to zero and save to 'positive.json' file. Do the same for the negative values and save to the 'negative.json' file.

In [4]:
df[df['pct_change'] >= 0.0].to_json('positive.json', indent=4)
df[df['pct_change'] < 0.0].to_json('negative.json', indent=4)

---

### 4. Two files are attached to this exercise:

- 'amazon.csv'
- 'tesla.csv'

Using pandas load these files into the DataFrame objects (set the index to the Date column) with names:
- amazon
- tesla

As an answer print to the console:

- amazon DataFrame
- blank line
- tesla DataFrame

In [5]:
amazon = pd.read_csv('amazon.csv', index_col='Date')
tesla = pd.read_csv('tesla.csv', index_col=0)

print(amazon)
print()
print(tesla)

                 Open       High        Low    Close   Volume
Date
2020-09-22  3033.8350  3133.9900  3000.2000  3128.99  6948816
2020-09-21  2906.5000  2962.0000  2871.0000  2960.47  6117925
2020-09-18  3031.7400  3037.8000  2905.5400  2954.91  8892580
2020-09-17  3009.2500  3029.4320  2972.5500  3008.73  6449050
2020-09-16  3179.9900  3187.2380  3074.1500  3078.10  4531189
2020-09-15  3136.1600  3175.0200  3108.9200  3156.13  4021535
2020-09-14  3172.9372  3187.3900  3096.0000  3102.97  4529596
2020-09-11  3208.6900  3217.3409  3083.9800  3116.22  5093982
2020-09-10  3307.2188  3349.8900  3170.5500  3175.11  5330741
2020-09-09  3202.9900  3303.1750  3185.0000  3268.61  5188675
2020-09-08  3144.0000  3250.8450  3130.0000  3149.84  6094205
2020-09-04  3318.0000  3381.5000  3111.1300  3294.62  8781754
2020-09-03  3485.0000  3488.4100  3303.0000  3368.00  8161113
2020-09-02  3547.0000  3552.2500  3486.6850  3531.45  3931476
2020-09-01  3489.5800  3513.8700  3467.0000  3499.12  3476407
2020-08-31  3408.9900  3495.0000  3405.0000  3450.96  4185885
2020-08-28  3423.0000  3433.3699  3386.5000  3401.80  2896978
2020-08-27  3450.0500  3453.0000  3378.0000  3400.00  4264795
2020-08-26  3351.1100  3451.7387  3344.5675  3441.85  6508743
2020-08-25  3294.9900  3357.4000  3267.0000  3346.49  3992842

              Open    High       Low   Close     Volume
Date
2020-09-22  429.60  437.76  417.6001  424.23   79580795
2020-09-21  453.13  455.68  407.0700  449.39  109476800
2020-09-18  447.94  451.00  428.8000  442.15   86406819
2020-09-17  415.60  437.79  408.0001  423.43   76779163
2020-09-16  439.87  457.79  435.3100  441.76   72546760
2020-09-15  436.56  461.94  430.7000  449.76   97298228
2020-09-14  380.95  420.00  373.3000  419.62   83020608
2020-09-11  381.94  382.50  360.5000  372.72   60717459
2020-09-10  386.21  398.99  360.5600  371.34   84930608
2020-09-09  356.60  369.00  341.5100  366.28   79465769
2020-09-08  356.00  368.74  329.8800  330.21  115465691
2020-09-04  402.81  428.00  372.0201  418.32  110321885
2020-09-03  407.23  431.80  402.0000  407.00   87596086
2020-09-02  478.99  479.04  405.1206  447.37   96176128
2020-09-01  502.14  502.49  470.5100  475.05   90119419
2020-08-31  444.61  500.14  440.1100  498.32  118374406
2020-08-28  459.02  463.70  437.3000  442.68  100405880
2020-08-27  436.09  459.12  428.5000  447.75  118465215
2020-08-26  412.00  433.20  410.7300  430.63   71196910
2020-08-25  394.98  405.59  393.6000  404.67   53294465

---

### 5. Two DataFrames are given:
- amazon
- tesla

Replace the column names in these objects by adding prefix 'amzn' to each column in the amazon DataFrame and prefix 'tsla' to each column in the tesla DataFrame. Also convert uppercase letters to lowercase. As an answer print to the console:
- amazon DataFrame
- blank line
- tesla DataFrame

In [6]:
amazon.columns = ['amzn_' + col.lower() for col in amazon.columns]
tesla.columns = ['tsla_' + col.lower() for col in tesla.columns]

print(amazon)
print()
print(tesla)

            amzn_open  amzn_high   amzn_low  amzn_close  amzn_volume
Date
2020-09-22  3033.8350  3133.9900  3000.2000     3128.99      6948816
2020-09-21  2906.5000  2962.0000  2871.0000     2960.47      6117925
2020-09-18  3031.7400  3037.8000  2905.5400     2954.91      8892580
2020-09-17  3009.2500  3029.4320  2972.5500     3008.73      6449050
2020-09-16  3179.9900  3187.2380  3074.1500     3078.10      4531189
2020-09-15  3136.1600  3175.0200  3108.9200     3156.13      4021535
2020-09-14  3172.9372  3187.3900  3096.0000     3102.97      4529596
2020-09-11  3208.6900  3217.3409  3083.9800     3116.22      5093982
2020-09-10  3307.2188  3349.8900  3170.5500     3175.11      5330741
2020-09-09  3202.9900  3303.1750  3185.0000     3268.61      5188675
2020-09-08  3144.0000  3250.8450  3130.0000     3149.84      6094205
2020-09-04  3318.0000  3381.5000  3111.1300     3294.62      8781754
2020-09-03  3485.0000  3488.4100  3303.0000     3368.00      8161113
2020-09-02  3547.0000  3552.2500  3486.6850     3531.45      3931476
2020-09-01  3489.5800  3513.8700  3467.0000     3499.12      3476407
2020-08-31  3408.9900  3495.0000  3405.0000     3450.96      4185885
2020-08-28  3423.0000  3433.3699  3386.5000     3401.80      2896978
2020-08-27  3450.0500  3453.0000  3378.0000     3400.00      4264795
2020-08-26  3351.1100  3451.7387  3344.5675     3441.85      6508743
2020-08-25  3294.9900  3357.4000  3267.0000     3346.49      3992842

            tsla_open  tsla_high  tsla_low  tsla_close  tsla_volume
Date
2020-09-22     429.60     437.76  417.6001      424.23     79580795
2020-09-21     453.13     455.68  407.0700      449.39    109476800
2020-09-18     447.94     451.00  428.8000      442.15     86406819
2020-09-17     415.60     437.79  408.0001      423.43     76779163
2020-09-16     439.87     457.79  435.3100      441.76     72546760
2020-09-15     436.56     461.94  430.7000      449.76     97298228
2020-09-14     380.95     420.00  373.3000      419.62     83020608
2020-09-11     381.94     382.50  360.5000      372.72     60717459
2020-09-10     386.21     398.99  360.5600      371.34     84930608
2020-09-09     356.60     369.00  341.5100      366.28     79465769
2020-09-08     356.00     368.74  329.8800      330.21    115465691
2020-09-04     402.81     428.00  372.0201      418.32    110321885
2020-09-03     407.23     431.80  402.0000      407.00     87596086
2020-09-02     478.99     479.04  405.1206      447.37     96176128
2020-09-01     502.14     502.49  470.5100      475.05     90119419
2020-08-31     444.61     500.14  440.1100      498.32    118374406
2020-08-28     459.02     463.70  437.3000      442.68    100405880
2020-08-27     436.09     459.12  428.5000      447.75    118465215
2020-08-26     412.00     433.20  410.7300      430.63     71196910
2020-08-25     394.98     405.59  393.6000      404.67     53294465

## Congratulate, Day 22 Finished!