# Day 19 - Pandas

In [1]:
import pandas as pd

### 1. The df_cat DataFrame is given below. Print basic statistics of this DataFrame to the console.

In [2]:
url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)
for col in list(df.select_dtypes(include=['object']).columns):
    df[col] = df[col].astype('category')
df_cat = df.select_dtypes(include=['category']).copy()

# Start your code here
print(df_cat.describe())

         sex smoker     region
count   1338   1338       1338
unique     2      2          4
top     male     no  southeast
freq     676   1064        364

---

### 2. The df_num DataFrame is given below. Print basic statistics of this DataFrame to the console.

In [3]:
df_num = df.select_dtypes(include=['float', 'int']).copy()

# Start your code here
print(df_num.describe())

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

---

### 3. The df DataFrame is given below. Calculate basic statistics of this object only for numeric variables, transpose the result and extract two columns:
- mean
- std

In response, print result to the console.

In [4]:
print(df.describe().T[['mean', 'std']])

                  mean           std
age          39.207025     14.049960
bmi          30.663397      6.098187
children      1.094918      1.205493
charges   13270.422265  12110.011237

---

### 4. The df DataFrame is given below. Check for missing values in this DataFrame and print result to the console.

In [5]:
print(df.isnull().sum())

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

---

### 5. The df DataFrame is given below. Convert all categorical variables to 0-1 encoding and assign it to the df_dummies variable. In response, print first five rows of df_dummies to the console.
Tip: Use the pd.get_dummies() function with the drop_first = True argument.

In [6]:
df = pd.get_dummies(df, drop_first=True)
print(df.head())

   age     bmi  children      charges  sex_male  smoker_yes  region_northwest  \
0   19  27.900         0  16884.92400     False        True             False
1   18  33.770         1   1725.55230      True       False             False
2   28  33.000         3   4449.46200      True       False             False
3   33  22.705         0  21984.47061      True       False              True
4   32  28.880         0   3866.85520      True       False              True

   region_southeast  region_southwest
0             False              True
1              True             False
2              True             False
3             False             False
4             False             False

## Congratulate, Day 19 Finished!