# Day 7 - Pandas

In [2]:
import pandas as pd

### 1. The following url is given:
```
https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv
```

Using pandas load this file into DataFrame and assign to the df variable. In response, print the first five rows to the console.

In [3]:
url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'

# Start your code here
df = pd.read_csv(url)
print(df.head())

   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges  TotalCharges Churn
0           Electronic check          29.85         29.85    No
1               Mailed check          56.95        1889.5    No
2               Mailed check          53.85        108.15   Yes
3  Bank transfer (automatic)          42.30       1840.75    No
4           Electronic check          70.70        151.65   Yes

[5 rows x 21 columns]

---

### 2. The df DataFrame is given below. Calculate the number of missing values for each variable. In response, print result to the console.

In [4]:
missing_values = df.isnull().sum()
print(missing_values)

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

---

### 3. The df DataFrame is given below. Please note the TotalCharges column. The type of this column is set to object. Try to guess why this happened.

Tip: Look at the distribution of this variable.

We have a space character in this column. In this case, pandas read the entire column as an object type. As an analyst, we have to deal with such problems.

Try to replace this missing values of the TotalCharges column with its median.

In response, print distribution of the TotalCharges variable to the console.

In [5]:
# Calculation of the median for the TotalCharges column
median = df['TotalCharges'][df['TotalCharges'] != ' '].median()
 
# Fill the missing values with median
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = median
 
# Convert TotalCharges column to float type
df['TotalCharges'] = df['TotalCharges'].astype('float')
 
print(df['TotalCharges'].value_counts())

1397.475    11
20.200      11
19.750       9
20.050       8
19.900       8
            ..
6849.400     1
692.350      1
130.150      1
3211.900     1
6844.500     1
Name: TotalCharges, Length: 6531, dtype: int64

---

### 4. The df DataFrame is given below. Convert following columns:

```
categorical = [
    'gender', 
    'SeniorCitizen', 
    'Partner', 
    'Dependents', 
    'PhoneService', 
    'MultipleLines', 
    'InternetService',
    'OnlineSecurity',
    'OnlineBackup',
    'DeviceProtection',
    'TechSupport',
    'StreamingTV',
    'Contract',
    'StreamingMovies',
    'PaperlessBilling',
    'PaymentMethod',
    'Churn'
]
```

to category type. And the following columns:

```
numerical = [
    'tenure',
    'MonthlyCharges'
]
```

to float type.

In response, print info about this DataFrame to the console.

In [6]:
categorical = [
    'gender', 
    'SeniorCitizen', 
    'Partner', 
    'Dependents', 
    'PhoneService', 
    'MultipleLines', 
    'InternetService',
    'OnlineSecurity',
    'OnlineBackup',
    'DeviceProtection',
    'TechSupport',
    'StreamingTV',
    'Contract',
    'StreamingMovies',
    'PaperlessBilling',
    'PaymentMethod',
    'Churn'
]
 
numerical = [
    'tenure',
    'MonthlyCharges'
]

# Start your code here
for col in categorical:
    df[col] = pd.Categorical(df[col])

for col in numerical:
    df[col] = df[col].astype(float)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   category
 2   SeniorCitizen     7043 non-null   category
 3   Partner           7043 non-null   category
 4   Dependents        7043 non-null   category
 5   tenure            7043 non-null   float64
 6   PhoneService      7043 non-null   category
 7   MultipleLines     7043 non-null   category
 8   InternetService   7043 non-null   category
 9   OnlineSecurity    7043 non-null   category
 10  OnlineBackup      7043 non-null   category
 11  DeviceProtection  7043 non-null   category
 12  TechSupport       7043 non-null   category
 13  StreamingTV       7043 non-null   category
 14  StreamingMovies   7043 non-null   category
 15  Contract          7043 non-null   category
 16  PaperlessBilling  7043 non-null   category
 17  PaymentMethod     7043 non-null   category
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  Churn             7043 non-null   category
dtypes: category(17), float64(3), object(1)
memory usage: 339.4+ KB

---

### 5. The df DataFrame is given below. Print the basic statistics of categorical variables by using the appropriate argument of the pd.DataFrame.describe() method. In response, print this statistics to the console.

In [7]:
print(pd.DataFrame.describe(df[categorical]))
# or
print(df.describe(include=['category']))

       gender  SeniorCitizen Partner Dependents PhoneService MultipleLines  \
count    7043           7043    7043       7043         7043          7043
unique      2              2       2          2            2             3
top      Male              0      No         No          Yes            No
freq     3555           5901    3641       4933         6361          3390

       InternetService OnlineSecurity OnlineBackup DeviceProtection  \
count             7043           7043         7043             7043
unique               3              3            3                3
top        Fiber optic             No           No               No
freq              3096           3498         3088             3095

       TechSupport StreamingTV        Contract StreamingMovies  \
count         7043        7043            7043            7043
unique           3           3               3               3
top             No          No  Month-to-month              No
freq          3473        2810            3875            2785

       PaperlessBilling     PaymentMethod Churn
count              7043              7043  7043
unique                2                 4     2
top                 Yes  Electronic check    No
freq               4171              2365  5174

## Congratulate, Day 7 Finished!