# Day 24 - Pandas

In [1]:
import pandas as pd

### 1. The following dictionaries are given:
Using these dictionaries create three DataFrame objects with the following names:

products

orders_day_1

orders_day_2

Then print these objects to the console as shown below.

In [2]:
products_dict = {
    'product_id': ['001', '004', '007', '010'],
    'name': ['mobile phone', 'laptop', 'mouse', 'tablet'],
    'price': [1490.0, 3400.0, 59.99, 999.00]
}

orders_day_1_dict = {
    'order_id': ['1001', '1002', '1003', '1004'],
    'product_id': ['004', '001', '001', '007'],
    'quantity': [2, 1, 1, 3]
}       

orders_day_2_dict = {
    'order_id': ['1005', '1006', '1007'],
    'product_id': ['010', '001', '007'],
    'quantity': [2, 1, 1]
}

# Start your code here
products = pd.DataFrame(products_dict)
orders_day_1 = pd.DataFrame(orders_day_1_dict)
orders_day_2 = pd.DataFrame(orders_day_2_dict)

print(products)
print(orders_day_1)
print(orders_day_2)

  product_id          name    price
0        001  mobile phone  1490.00
1        004        laptop  3400.00
2        007         mouse    59.99
3        010        tablet   999.00
  order_id product_id  quantity
0     1001        004         2
1     1002        001         1
2     1003        001         1
3     1004        007         3
  order_id product_id  quantity
0     1005        010         2
1     1006        001         1
2     1007        007         1

---

### 2. The following DataFrame objects are given:

products

orders_day_1

orders_day_2

Combine orders_day_1 D with orders_day_2 DataFrame as shown below and assign to the orders variable. Make sure the new DataFrame is indexed correctly.

In response, print the orders DataFrame to the console.ataFrame

In [3]:
# orders = orders_day_1.append(orders_day_2, ignore_index=True)
# print(orders)
orders = pd.concat([orders_day_1, orders_day_2], axis=0)
orders

  order_id product_id  quantity
0     1001        004         2
1     1002        001         1
2     1003        001         1
3     1004        007         3
0     1005        010         2
1     1006        001         1
2     1007        007         1

---

### 3. Using the given products DataFrame and orders DataFrame. Create the following DataFrame object and assign to the result variable (use product_id key). In response, print a result DataFrame to the console

In [4]:
result = pd.merge(orders, products, on='product_id')
print(result)

  order_id product_id  quantity          name    price
0     1001        004         2        laptop  3400.00
1     1002        001         1  mobile phone  1490.00
2     1003        001         1  mobile phone  1490.00
3     1006        001         1  mobile phone  1490.00
4     1004        007         3         mouse    59.99
5     1007        007         1         mouse    59.99
6     1005        010         2        tablet   999.00

---

### 4. The result DataFrame is given below. Based on the quantity and price columns, calculate a new column 'total' that stores the total amount for each order as shown below.

In response, print a result DataFrame to the console.

In [5]:
result['total'] = result['quantity'] * result['price']
print(result)

  order_id product_id  quantity          name    price    total
0     1001        004         2        laptop  3400.00  6800.00
1     1002        001         1  mobile phone  1490.00  1490.00
2     1003        001         1  mobile phone  1490.00  1490.00
3     1006        001         1  mobile phone  1490.00  1490.00
4     1004        007         3         mouse    59.99   179.97
5     1007        007         1         mouse    59.99    59.99
6     1005        010         2        tablet   999.00  1998.00

---

### 5. The following result DataFrame is given. Save this DataFrame to the following files:

'result.csv' -> skip index

'result.html'

'result.json' -> set indent to 4 spaces

In [6]:
result.to_csv('result.csv', index=False)
result.to_html('result.html')
result.to_json('result.json', indent=4)

## Congratulate, Day 24 Finished!