# Day 18 - Pandas

In [1]:
import pandas as pd
import numpy as np

### 1. The df DataFrame is given below. Remove duplicates from this object. In response, using pd.DataFrame.info() print some information about this DataFrame to the console.

In [2]:
url = 'https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv'
df = pd.read_csv(url)

# Start your code here
df = df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1337 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1337 non-null   int64
 1   sex       1337 non-null   object
 2   bmi       1337 non-null   float64
 3   children  1337 non-null   int64
 4   smoker    1337 non-null   object
 5   region    1337 non-null   object
 6   charges   1337 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 83.6+ KB

---

### 2. The df DataFrame is given below. Print to the console only columns with the object type.

Tip: Use the pd.DataFrame.select_dtypes().

In [3]:
print(pd.DataFrame.select_dtypes(df,'object'))

         sex smoker     region
0     female    yes  southwest
1       male     no  southeast
2       male     no  southeast
3       male     no  northwest
4       male     no  northwest
...      ...    ...        ...
1333    male     no  northwest
1334  female     no  northeast
1335  female     no  southeast
1336  female     no  southwest
1337  female    yes  northwest

[1337 rows x 3 columns]

---

### 3. The df DataFrame is given below. Convert following columns:

- sex
- smoker
- region

to category type.
In response, using pd.DataFrame.info() print some information about this DataFrame to the console.

Tip: Use the pd.DataFrame.astype().

In [4]:
cat_vars = ['sex', 'smoker', 'region']
for col in cat_vars:
    df[col] = df[col].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1337 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1337 non-null   int64
 1   sex       1337 non-null   category
 2   bmi       1337 non-null   float64
 3   children  1337 non-null   int64
 4   smoker    1337 non-null   category
 5   region    1337 non-null   category
 6   charges   1337 non-null   float64
dtypes: category(3), float64(2), int64(2)
memory usage: 56.6 KB

---

### 4. The df DataFrame is given below. Extract all names of numeric columns (float, int) from this object as a list and print it to the console.

In [5]:
# Method 1
print(list(pd.DataFrame.select_dtypes(df, ['int', 'float'])))

# Method 2
num_vars = list(df.select_dtypes(include=['float', 'int']).columns)
print(num_vars)

['age', 'bmi', 'children', 'charges']

---

### 5. The df DataFrame is given below. Follow the steps below:

assign to the variable df_cat DataFrame with categorical columns from the df (create a copy)

assign to the variable df_num DataFrame with numerical variables from the df (create a copy)

Print the first five rows of the df_cat and df_num to the console.

In [6]:
df_cat = df.select_dtypes(include=['category']).copy()
df_num = df.select_dtypes(include=['int', 'float']).copy()

print(df_cat.head())
print(df_num.head())

      sex smoker     region
0  female    yes  southwest
1    male     no  southeast
2    male     no  southeast
3    male     no  northwest
4    male     no  northwest
   age     bmi  children      charges
0   19  27.900         0  16884.92400
1   18  33.770         1   1725.55230
2   28  33.000         3   4449.46200
3   33  22.705         0  21984.47061
4   32  28.880         0   3866.85520

## Congratulate, Day 18 Finished!