# Day 9 - Pandas

In [2]:
import pandas as pd
import numpy as np

### 1. The following objects are given:
```
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
```
Combine these two Series into one DataFrame and assign to df variable. Set the column names 'col1' and 'col2' respectively. In response, print this DataFrame to the console.

In [5]:
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

# Start your code here
df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
df

        col1      col2
0   0.555543  0.918825
1   0.431699  0.230912
2   0.271256 -0.789386
3   0.025945 -0.315195
4   0.637155  0.097302
5   0.733780 -0.883858
6   0.977021  1.273051
7   0.281810  0.225796
8   0.966738 -0.231460
9   0.317818  0.640574
10  0.711286  1.185529
11  0.638792  0.564000
12  0.949090  0.104755
13  0.525355  0.191235
14  0.334544 -0.135788
15  0.807437 -1.267652
16  0.410282 -2.062685
17  0.535178 -0.267979
18  0.722912 -0.207980
19  0.152385 -0.578028

---

### 2. The df DataFrame is given below. Extract rows from this DataFrame for which the col2 column is between 0.0 and 1.0 (inclusive). In response, print result to the console.

In [7]:
# Method 1
print(df[df['col2'].between(0.0, 1.0)])

# Method2
print(df[(df['col2'] >= 0.0) & (df['col2'] <= 1.0)])

        col1      col2
0   0.555543  0.918825
1   0.431699  0.230912
4   0.637155  0.097302
7   0.281810  0.225796
9   0.317818  0.640574
11  0.638792  0.564000
12  0.949090  0.104755
13  0.525355  0.191235
        col1      col2
0   0.555543  0.918825
1   0.431699  0.230912
4   0.637155  0.097302
7   0.281810  0.225796
9   0.317818  0.640574
11  0.638792  0.564000
12  0.949090  0.104755
13  0.525355  0.191235

---

### 3. The df DataFrame is given below. Assign a new column named 'col3', which will store 1 when the value in the column col2 is non-negative and -1 opposite. In response. print DataFrame to the console.

In [10]:
df['col3'] = df['col2'].map(lambda x: 1 if x >= 0 else -1)
print(df)

        col1      col2  col3
0   0.555543  0.918825     1
1   0.431699  0.230912     1
2   0.271256 -0.789386    -1
3   0.025945 -0.315195    -1
4   0.637155  0.097302     1
5   0.733780 -0.883858    -1
6   0.977021  1.273051     1
7   0.281810  0.225796     1
8   0.966738 -0.231460    -1
9   0.317818  0.640574     1
10  0.711286  1.185529     1
11  0.638792  0.564000     1
12  0.949090  0.104755     1
13  0.525355  0.191235     1
14  0.334544 -0.135788    -1
15  0.807437 -1.267652    -1
16  0.410282 -2.062685    -1
17  0.535178 -0.267979    -1
18  0.722912 -0.207980    -1
19  0.152385 -0.578028    -1

---

### 4. The df DataFrame is given below. Assign a new column 'col4', which will truncate the values from the column col2 to the range [âˆ’1.0, 1.0]. In other words, for values less than -1.0 set -1.0 and for values greater than 1.0 set 1.0. In response, print DataFrame to the console.

In [11]:
# Method 1
df['col4'] = df['col2'].map(lambda x: 1.0 if x >= 1.0 else -1.0 if x <= -1.0 else x)

# Method 2
df['col4'] = df['col2'].clip(-1.0, 1.0)

print(df)

        col1      col2  col3      col4
0   0.555543  0.918825     1  0.918825
1   0.431699  0.230912     1  0.230912
2   0.271256 -0.789386    -1 -0.789386
3   0.025945 -0.315195    -1 -0.315195
4   0.637155  0.097302     1  0.097302
5   0.733780 -0.883858    -1 -0.883858
6   0.977021  1.273051     1  1.000000
7   0.281810  0.225796     1  0.225796
8   0.966738 -0.231460    -1 -0.231460
9   0.317818  0.640574     1  0.640574
10  0.711286  1.185529     1  1.000000
11  0.638792  0.564000     1  0.564000
12  0.949090  0.104755     1  0.104755
13  0.525355  0.191235     1  0.191235
14  0.334544 -0.135788    -1 -0.135788
15  0.807437 -1.267652    -1 -1.000000
16  0.410282 -2.062685    -1 -1.000000
17  0.535178 -0.267979    -1 -0.267979
18  0.722912 -0.207980    -1 -0.207980
19  0.152385 -0.578028    -1 -0.578028

---

### 5. The df DataFrame is given below. Print the five largest values for the col2. Then print blank line and print the five lowest values for the col2.

In [12]:
print(df['col2'].nlargest(5))
print()
print(df['col2'].nsmallest(5))

6     1.273051
10    1.185529
0     0.918825
9     0.640574
11    0.564000
Name: col2, dtype: float64

16   -2.062685
15   -1.267652
5    -0.883858
2    -0.789386
19   -0.578028
Name: col2, dtype: float64

## Congratulate, Day 9 Finished!