# Day 21 - Pandas

In [1]:
import pandas as pd

### 1. The df DataFrame is given below. Using the pd.get_dummies() function, transform all categorical variables to 0-1 encoding as shown below and print result to the console.

In [3]:
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}
df = pd.DataFrame(data)
for col in ['size', 'color', 'gender', 'bought']:
    df[col] = df[col].astype('category')
df['weight'] = df['weight'].astype('float')

# Start your code here
print(pd.get_dummies(df))

   price  weight  size_L  size_M  size_XL  color_blue  color_green  color_red  \
0  199.0   500.0   False   False     True       False        False       True
1   89.0   450.0    True   False    False       False         True      False
2   99.0   300.0   False    True    False        True        False      False
3  129.0   380.0    True   False    False       False         True      False
4   79.0   410.0   False    True    False       False        False       True

   gender_female  gender_male  bought_no  bought_yes
0           True        False      False        True
1          False         True       True       False
2          False         True      False        True
3           True        False       True       False
4           True        False      False        True

---

### 2. The df DataFrame is given below. Using the get_dummies() function, transform all categorical variables to 0-1 encoding as shown below. Use the drop_first=True argument. In response, print result to the console.

In [5]:
print(pd.get_dummies(df, drop_first=True))

   price  weight  size_M  size_XL  color_green  color_red  gender_male  \
0  199.0   500.0   False     True        False       True        False
1   89.0   450.0   False    False         True      False         True
2   99.0   300.0    True    False        False      False         True
3  129.0   380.0   False    False         True      False        False
4   79.0   410.0    True    False        False       True        False

   bought_yes
0        True
1       False
2        True
3       False
4        True

---

### 3. The market.json file is attached to this exercise. Load this file using pandas into DataFrame and assign to df variable. In response, print this DataFrame to the console.

In [16]:
df = pd.read_json('market.json')
print(df.shape)
print(df)

(22, 9)
                       profile   time     price  change pct_change  \
0              ^AEX (Holandia)  14:12    548.73    7.95     +1.47%
1               ^ATX (Austria)  14:11   2147.90   17.68     +0.83%
2               ^ATXC (Grecja)  14:13    621.82   -2.80     -0.45%
3              ^BEL20 (Belgia)  14:11   3251.39   30.51     +0.95%
4                 ^BUX (Węgry)  14:12  32831.01  534.27     +1.65%
5             ^CAC40 (Francja)  14:12   4839.46   66.62     +1.40%
6                ^DAX (Niemcy)  14:14  12758.52  164.13     +1.30%
7   ^FTSE100 (Wielka Brytania)  14:12   5945.44  115.98     +1.99%
8   ^FTSE250 (Wielka Brytania)  14:12  17038.88  217.22     +1.29%
9            ^FTSEMIB (Włochy)  14:12  19080.16  184.57     +0.98%
10         ^IBEX35 (Hiszpania)  14:12   6755.80  107.20     +1.61%
11             ^OMXC20 (Dania)  14:27   1336.57    0.58     +0.04%
12         ^OMXH25 (Finlandia)  14:26  10037.06   21.87     +0.22%
13           ^OMXS30 (Szwecja)  14:27   1802.43   20.51     +1.15%
14           ^OSEAX (Norwegia)  14:12    739.99    1.36     +0.18%
15         ^PSI20 (Portugalia)  14:13   4119.97   -1.97     -0.05%
16              ^PX50 (Czechy)  14:12    870.57    2.52     +0.29%
17             ^RDXEUR (Rosja)  14:11   1264.48    2.21     +0.18%
18                ^RTS (Rosja)  14:11   1524.18   -2.09     -0.14%
19           ^SMI (Szwajcaria)  14:11  10371.42   15.85     +0.15%
20             ^XU100 (Turcja)  14:12   1104.41    8.25     +0.75%
21              WIG20 (Polska)  14:29   1695.96    2.87     +0.17%

    reference_price      open       low      high
0            540.78    546.55    544.72    550.72
1           2130.22   2131.47   2118.71   2163.92
2            624.62    627.48    621.82    631.70
3           3220.88   3252.21   3228.77   3266.11
4          32296.74  32421.05  32421.05  32865.43
5           4772.84   4824.17   4803.91   4871.45
6          12594.39  12737.32  12688.33  12830.70
7           5829.46   5829.46   5829.46   5974.88
8          16821.66  16821.66  16821.66  17123.31
9          18895.59  19080.18  18944.29  19231.99
10          6648.60   6717.80   6681.60   6781.10
11          1335.99   1338.82   1322.42   1338.82
12         10015.19  10052.81  10024.27  10107.86
13          1781.92   1791.67   1789.70   1814.53
14           738.63    738.46    738.03    744.44
15          4121.94   4141.19   4119.97   4156.11
16           868.05    868.53    862.45    873.37
17          1262.27   1263.78   1259.57   1274.42
18          1526.27   1526.27   1521.70   1541.51
19         10355.57  10368.65  10334.54  10439.74
20          1096.16   1101.04   1098.82   1106.06
21          1693.09   1701.26   1695.36   1712.27

---

### 4. The df DataFrame is given below. Extract the country name from the first column and assign to 'country' column as shown below. In response, print result to the console.

In [17]:
df['country'] = df['profile'].str.split(n=1, expand=True)[1]
df['country'] = df['country'].apply(lambda i: i[1:-1])
print(df)

                       profile   time     price  change pct_change  \
0              ^AEX (Holandia)  14:12    548.73    7.95     +1.47%
1               ^ATX (Austria)  14:11   2147.90   17.68     +0.83%
2               ^ATXC (Grecja)  14:13    621.82   -2.80     -0.45%
3              ^BEL20 (Belgia)  14:11   3251.39   30.51     +0.95%
4                 ^BUX (Węgry)  14:12  32831.01  534.27     +1.65%
5             ^CAC40 (Francja)  14:12   4839.46   66.62     +1.40%
6                ^DAX (Niemcy)  14:14  12758.52  164.13     +1.30%
7   ^FTSE100 (Wielka Brytania)  14:12   5945.44  115.98     +1.99%
8   ^FTSE250 (Wielka Brytania)  14:12  17038.88  217.22     +1.29%
9            ^FTSEMIB (Włochy)  14:12  19080.16  184.57     +0.98%
10         ^IBEX35 (Hiszpania)  14:12   6755.80  107.20     +1.61%
11             ^OMXC20 (Dania)  14:27   1336.57    0.58     +0.04%
12         ^OMXH25 (Finlandia)  14:26  10037.06   21.87     +0.22%
13           ^OMXS30 (Szwecja)  14:27   1802.43   20.51     +1.15%
14           ^OSEAX (Norwegia)  14:12    739.99    1.36     +0.18%
15         ^PSI20 (Portugalia)  14:13   4119.97   -1.97     -0.05%
16              ^PX50 (Czechy)  14:12    870.57    2.52     +0.29%
17             ^RDXEUR (Rosja)  14:11   1264.48    2.21     +0.18%
18                ^RTS (Rosja)  14:11   1524.18   -2.09     -0.14%
19           ^SMI (Szwajcaria)  14:11  10371.42   15.85     +0.15%
20             ^XU100 (Turcja)  14:12   1104.41    8.25     +0.75%
21              WIG20 (Polska)  14:29   1695.96    2.87     +0.17%

    reference_price      open       low      high          country
0            540.78    546.55    544.72    550.72         Holandia
1           2130.22   2131.47   2118.71   2163.92          Austria
2            624.62    627.48    621.82    631.70           Grecja
3           3220.88   3252.21   3228.77   3266.11           Belgia
4          32296.74  32421.05  32421.05  32865.43            Węgry
5           4772.84   4824.17   4803.91   4871.45          Francja
6          12594.39  12737.32  12688.33  12830.70           Niemcy
7           5829.46   5829.46   5829.46   5974.88  Wielka Brytania
8          16821.66  16821.66  16821.66  17123.31  Wielka Brytania
9          18895.59  19080.18  18944.29  19231.99           Włochy
10          6648.60   6717.80   6681.60   6781.10        Hiszpania
11          1335.99   1338.82   1322.42   1338.82            Dania
12         10015.19  10052.81  10024.27  10107.86        Finlandia
13          1781.92   1791.67   1789.70   1814.53          Szwecja
14           738.63    738.46    738.03    744.44         Norwegia
15          4121.94   4141.19   4119.97   4156.11       Portugalia
16           868.05    868.53    862.45    873.37           Czechy
17          1262.27   1263.78   1259.57   1274.42            Rosja
18          1526.27   1526.27   1521.70   1541.51            Rosja
19         10355.57  10368.65  10334.54  10439.74       Szwajcaria
20          1096.16   1101.04   1098.82   1106.06           Turcja
21          1693.09   1701.26   1695.36   1712.27           Polska

---

### 5. The df DataFrame is given below. Extract country names (sorted alphabetically) that occur more than once as a list and print it to the console.

In [19]:
print(sorted(df['country'].value_counts()[df['country'].value_counts() > 1].index))

['Rosja', 'Wielka Brytania']

## Congratulate, Day 21 Finished!