# Day 8 - Pandas

In [1]:
import pandas as pd

### 1. The df DataFrame is given below. Find the distribution of the Churn variable and print it to the console.

In [3]:
url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url, index_col=0)

# Start your code here
print(df['Churn'].value_counts())

No     5174
Yes    1869
Name: Churn, dtype: int64

---

### 2. The df DataFrame is given below. Group this DataFrame by 'Churn' and 'PaymentMethod' column and calculate the average value of the 'MonthlyCharges' column. In response, print result to the console.

In [4]:
print(df.groupby(['Churn', 'PaymentMethod'])['MonthlyCharges'].mean())

Churn  PaymentMethod
No     Bank transfer (automatic)    65.049417
       Credit card (automatic)      64.562209
       Electronic check             74.232032
       Mailed check                 41.403911
Yes    Bank transfer (automatic)    77.875581
       Credit card (automatic)      77.356034
       Electronic check             78.700980
       Mailed check                 54.557143
Name: MonthlyCharges, dtype: float64

---

### 3. The df DataFrame is given below. Map the Churn column as follows:
```
'Yes' -> 1

'No' -> 0
```
The first five rows of the Churn column:
```
customerID
7590-VHVEG    0
5575-GNVDE    0
3668-QPYBK    1
7795-CFOCW    0
9237-HQITU    1
Name: Churn, dtype: int64
```

In [6]:
df['Churn'] = df['Churn'].map({'Yes': 1, 'No': 0})
print(df['Churn'].head())

customerID
7590-VHVEG    0
5575-GNVDE    0
3668-QPYBK    1
7795-CFOCW    0
9237-HQITU    1
Name: Churn, dtype: int64

---

### 4. The df DataFrame is given below. Calculate the correlation matrix for this DataFrame. In response, print result to the console.

In [9]:
print(df.corr())

                SeniorCitizen    tenure  MonthlyCharges     Churn
SeniorCitizen        1.000000  0.016567        0.220173  0.150889
tenure               0.016567  1.000000        0.247900 -0.352229
MonthlyCharges       0.220173  0.247900        1.000000  0.193356
Churn                0.150889 -0.352229        0.193356  1.000000

C:\Users\AVADHESH\AppData\Local\Temp\ipykernel_15152\4212406737.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.corr())

---

### 5. The df DataFrame is given below. Take a sample of ten rows from this DataFrame and save to sample_10.csv file.

In [11]:
df.sample(10).to_csv('sample_10.csv')

## Congratulate, Day 8 Finished!