# Day 6 - Pandas

In [1]:
import pandas as pd

### 1. The google.csv file is loaded using pandas as shown below. Find the index for which the Close price has the lowest value and assign it to the idx_min variable. Then extract the row for this index from the google DataFrame as a DataFrame. In response, print this DataFrame to the console.

In [3]:
google = pd.read_csv('google.csv', index_col=0)
google = google.reset_index()

# Start your code here
idx_min = google.Close.argmin()
print(google.iloc[[idx_min]])

   index        Date     Open     High     Low    Close   Volume
4      4  26-06-2020  1432.63  1437.02  1355.0  1362.54  4882014

---

### 2. The google.csv file is loaded using pandas as shown below. Extract the following columns:

- Date
- Open
- Close
- Volume

from the google DataFrame. In response, print result to the console.

In [5]:
google = pd.read_csv('google.csv', index_col=0)
google = google.reset_index()

# Start your code here
df = google[['Date', 'Open', 'Close', 'Volume']]
df

          Date     Open    Close   Volume
0   02-07-2020  1451.84  1469.93  2860915
1   01-07-2020  1419.17  1442.00  2109124
2   30-06-2020  1396.88  1418.05  2014320
3   29-06-2020  1360.34  1397.17  2253678
4   26-06-2020  1432.63  1362.54  4882014
5   25-06-2020  1431.22  1441.10  1197907
6   24-06-2020  1463.28  1432.70  1579579
7   23-06-2020  1452.00  1463.98  1887583
8   22-06-2020  1425.01  1450.66  1472072
9   19-06-2020  1440.00  1424.64  2639167
10  18-06-2020  1449.85  1434.12  1743071
11  17-06-2020  1452.94  1452.54  1530500
12  16-06-2020  1449.00  1446.47  1534826
13  15-06-2020  1389.49  1420.74  1527652
14  12-06-2020  1425.86  1412.92  1833756
15  11-06-2020  1441.03  1401.90  2357243
16  10-06-2020  1461.51  1464.70  1588116
17  09-06-2020  1445.24  1452.08  1681155
18  08-06-2020  1426.28  1448.04  1693881
19  05-06-2020  1415.64  1440.02  2132350
20  04-06-2020  1436.78  1414.30  1349105
21  03-06-2020  1442.70  1439.25  1386640
22  02-06-2020  1435.00  1442.31  1172069
23  01-06-2020  1425.70  1434.87  1259254
24  29-05-2020  1420.43  1433.52  1852522
25  28-05-2020  1400.00  1418.24  1759787
26  27-05-2020  1420.00  1420.28  1584185
27  26-05-2020  1441.96  1421.37  2229488
28  22-05-2020  1403.90  1413.24  1427206
29  21-05-2020  1410.99  1406.75  1544976

---

### 3. The google.csv file is loaded using pandas as shown below. Set the index for the Date column and print this DataFrame to the console.

In [10]:
google = pd.read_csv('google.csv')

# Start your code here
google = google.set_index('Date')
print(google)

            Unnamed: 0     Open       High        Low    Close   Volume
Date
02-07-2020           0  1451.84  1488.5200  1451.0650  1469.93  2860915
01-07-2020           1  1419.17  1448.4800  1414.1800  1442.00  2109124
30-06-2020           2  1396.88  1424.0000  1386.9301  1418.05  2014320
29-06-2020           3  1360.34  1398.0000  1351.6500  1397.17  2253678
26-06-2020           4  1432.63  1437.0200  1355.0000  1362.54  4882014
25-06-2020           5  1431.22  1442.3200  1419.5401  1441.10  1197907
24-06-2020           6  1463.28  1475.7900  1430.0000  1432.70  1579579
23-06-2020           7  1452.00  1475.2000  1445.0000  1463.98  1887583
22-06-2020           8  1425.01  1450.9500  1419.1900  1450.66  1472072
19-06-2020           9  1440.00  1444.5000  1419.0000  1424.64  2639167
18-06-2020          10  1449.85  1452.9699  1426.2350  1434.12  1743071
17-06-2020          11  1452.94  1462.2000  1435.1250  1452.54  1530500
16-06-2020          12  1449.00  1457.1700  1428.9900  1446.47  1534826
15-06-2020          13  1389.49  1425.0000  1387.1952  1420.74  1527652
12-06-2020          14  1425.86  1434.5050  1385.8000  1412.92  1833756
11-06-2020          15  1441.03  1451.6033  1398.4100  1401.90  2357243
10-06-2020          16  1461.51  1472.7700  1454.3550  1464.70  1588116
09-06-2020          17  1445.24  1467.8000  1442.3600  1452.08  1681155
08-06-2020          18  1426.28  1449.0000  1424.4800  1448.04  1693881
05-06-2020          19  1415.64  1446.3000  1407.6213  1440.02  2132350
04-06-2020          20  1436.78  1441.3200  1406.0100  1414.30  1349105
03-06-2020          21  1442.70  1449.0100  1431.6200  1439.25  1386640
02-06-2020          22  1435.00  1443.0000  1421.6100  1442.31  1172069
01-06-2020          23  1425.70  1441.5800  1422.2800  1434.87  1259254
29-05-2020          24  1420.43  1436.7300  1415.9800  1433.52  1852522
28-05-2020          25  1400.00  1444.4600  1399.0760  1418.24  1759787
27-05-2020          26  1420.00  1425.3450  1394.6000  1420.28  1584185
26-05-2020          27  1441.96  1445.1100  1419.3950  1421.37  2229488
22-05-2020          28  1403.90  1417.0000  1395.9500  1413.24  1427206
21-05-2020          29  1410.99  1416.4600  1394.3900  1406.75  1544976

---

### 4. The google.csv file is loaded using pandas as shown below. Remove the Year and Month columns from the google DataFrame. In response, print google DataFrame to the console.

In [19]:
google = pd.read_csv('google.csv', index_col=0)
google['Date'] = pd.to_datetime(google['Date'])
google['Year'] = google['Date'].dt.year
google['Month'] = google['Date'].dt.month

# Start your code here
google = google.drop(columns=['Year', 'Month'])
google

C:\Users\AVADHESH\AppData\Local\Temp\ipykernel_13352\3878448329.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  google['Date'] = pd.to_datetime(google['Date'])

         Date     Open       High        Low    Close   Volume
0  2020-02-07  1451.84  1488.5200  1451.0650  1469.93  2860915
1  2020-01-07  1419.17  1448.4800  1414.1800  1442.00  2109124
2  2020-06-30  1396.88  1424.0000  1386.9301  1418.05  2014320
3  2020-06-29  1360.34  1398.0000  1351.6500  1397.17  2253678
4  2020-06-26  1432.63  1437.0200  1355.0000  1362.54  4882014
5  2020-06-25  1431.22  1442.3200  1419.5401  1441.10  1197907
6  2020-06-24  1463.28  1475.7900  1430.0000  1432.70  1579579
7  2020-06-23  1452.00  1475.2000  1445.0000  1463.98  1887583
8  2020-06-22  1425.01  1450.9500  1419.1900  1450.66  1472072
9  2020-06-19  1440.00  1444.5000  1419.0000  1424.64  2639167
10 2020-06-18  1449.85  1452.9699  1426.2350  1434.12  1743071
11 2020-06-17  1452.94  1462.2000  1435.1250  1452.54  1530500
12 2020-06-16  1449.00  1457.1700  1428.9900  1446.47  1534826
13 2020-06-15  1389.49  1425.0000  1387.1952  1420.74  1527652
14 2020-12-06  1425.86  1434.5050  1385.8000  1412.92  1833756
15 2020-11-06  1441.03  1451.6033  1398.4100  1401.90  2357243
16 2020-10-06  1461.51  1472.7700  1454.3550  1464.70  1588116
17 2020-09-06  1445.24  1467.8000  1442.3600  1452.08  1681155
18 2020-08-06  1426.28  1449.0000  1424.4800  1448.04  1693881
19 2020-05-06  1415.64  1446.3000  1407.6213  1440.02  2132350
20 2020-04-06  1436.78  1441.3200  1406.0100  1414.30  1349105
21 2020-03-06  1442.70  1449.0100  1431.6200  1439.25  1386640
22 2020-02-06  1435.00  1443.0000  1421.6100  1442.31  1172069
23 2020-01-06  1425.70  1441.5800  1422.2800  1434.87  1259254
24 2020-05-29  1420.43  1436.7300  1415.9800  1433.52  1852522
25 2020-05-28  1400.00  1444.4600  1399.0760  1418.24  1759787
26 2020-05-27  1420.00  1425.3450  1394.6000  1420.28  1584185
27 2020-05-26  1441.96  1445.1100  1419.3950  1421.37  2229488
28 2020-05-22  1403.90  1417.0000  1395.9500  1413.24  1427206
29 2020-05-21  1410.99  1416.4600  1394.3900  1406.75  1544976

---

### 5. The google.csv file is loaded using pandas as shown below. Change the following column names:

Open -> O

High -> H

Low -> L

Close -> C

Volume -> V

In response, print google DataFrame to the console.

In [24]:
google = pd.read_csv('google.csv', index_col=0)

# Start your code here
google.columns = ['Date', 'O', 'H', 'L', 'C', 'V']
print(google)

          Date        O          H          L        C        V
0   02-07-2020  1451.84  1488.5200  1451.0650  1469.93  2860915
1   01-07-2020  1419.17  1448.4800  1414.1800  1442.00  2109124
2   30-06-2020  1396.88  1424.0000  1386.9301  1418.05  2014320
3   29-06-2020  1360.34  1398.0000  1351.6500  1397.17  2253678
4   26-06-2020  1432.63  1437.0200  1355.0000  1362.54  4882014
5   25-06-2020  1431.22  1442.3200  1419.5401  1441.10  1197907
6   24-06-2020  1463.28  1475.7900  1430.0000  1432.70  1579579
7   23-06-2020  1452.00  1475.2000  1445.0000  1463.98  1887583
8   22-06-2020  1425.01  1450.9500  1419.1900  1450.66  1472072
9   19-06-2020  1440.00  1444.5000  1419.0000  1424.64  2639167
10  18-06-2020  1449.85  1452.9699  1426.2350  1434.12  1743071
11  17-06-2020  1452.94  1462.2000  1435.1250  1452.54  1530500
12  16-06-2020  1449.00  1457.1700  1428.9900  1446.47  1534826
13  15-06-2020  1389.49  1425.0000  1387.1952  1420.74  1527652
14  12-06-2020  1425.86  1434.5050  1385.8000  1412.92  1833756
15  11-06-2020  1441.03  1451.6033  1398.4100  1401.90  2357243
16  10-06-2020  1461.51  1472.7700  1454.3550  1464.70  1588116
17  09-06-2020  1445.24  1467.8000  1442.3600  1452.08  1681155
18  08-06-2020  1426.28  1449.0000  1424.4800  1448.04  1693881
19  05-06-2020  1415.64  1446.3000  1407.6213  1440.02  2132350
20  04-06-2020  1436.78  1441.3200  1406.0100  1414.30  1349105
21  03-06-2020  1442.70  1449.0100  1431.6200  1439.25  1386640
22  02-06-2020  1435.00  1443.0000  1421.6100  1442.31  1172069
23  01-06-2020  1425.70  1441.5800  1422.2800  1434.87  1259254
24  29-05-2020  1420.43  1436.7300  1415.9800  1433.52  1852522
25  28-05-2020  1400.00  1444.4600  1399.0760  1418.24  1759787
26  27-05-2020  1420.00  1425.3450  1394.6000  1420.28  1584185
27  26-05-2020  1441.96  1445.1100  1419.3950  1421.37  2229488
28  22-05-2020  1403.90  1417.0000  1395.9500  1413.24  1427206
29  21-05-2020  1410.99  1416.4600  1394.3900  1406.75  1544976

## Congratulate, Day 6 Finished!